* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > .container {
    background-color:rgb(99, 99, 228) ;
}
header {
    background-color: rgb(99, 99, 228);
    padding: 16px;
}
h1 {
    color: #fff;
    background-color: rgb(99, 99, 228);
}
button {
    padding: 6px;
    font-size: 12px;
    background-color: rgb(194, 93, 35);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#header {
    background-color: rgb(99, 99, 228);
}

button:hover {
    background-color: rgb(255, 136, 0);
    border-radius: 9px;
}

.container img {
    width: 40%;
    margin-right: 20px;
}
.Sobre {
    display: flex;
    padding: 9px;
}

h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(99, 99, 228);
    color: rgb(99, 99, 228);
}

.Products img {
    width: 50%;
    margin-bottom: 20px ;
}

.Products p {
    margin-bottom: 10px;
}

.Products button {
    display: block;
    width: 50%;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(99, 99, 228);
}
.Products button:hover {
    background-color: rgb(132, 132, 236);
}
.Products {
    width: 100%;
}
section h2 {
    margin-top: 50px;
}
.Products {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
}

.Products {
    margin-left: 70px;
}
.Products p {
    font-size: 1.3em;
}

.Products p {
    max-width: 50%;
}

@media screen and (max-width: 1023px) and (min-width:768px) {
    .container {
        max-width: 90%;
    }
    
    .Products {
        display: grid;
        grid-template-columns: 50% 50%; 
    }
    
    .Products {
        margin-left: 70px;
    }
    .Products article img {
        margin-top: 20px ;
    }
    .container {
        overflow-x: hidden;
    }
    .Products p {
        font-size: 2em;
    }
    
}
@media screen and (max-width:767px) {
    .container {
        max-width: 80%;
    }
    
    .Products {
        display: block;
        margin-left: 27%;
    }
    .Products button {
        max-width: 327%;
    }
    .container .Products {
        align-items: center;
    }
    .Products article img {
        margin-top: 20px;
    }
    header div.container {
        flex-direction: column;
    }
    .Sobre {
        flex-direction: column;
    }
    .Sobre h2 {
        margin-top: 20px;
    }
    .Sobre img {
        margin-left: 29%;
    }
    .Products img {
        max-width: 50%;
    }
    .Products p {
        font-size: 2em;
    }
}



